Django==1.11.29
django-filters==0.2.1
django-filter
django-js-reverse
django-allauth
djangorestframework
django-webpack-loader==0.5.0
django-storages
boto
Markdown
coreapi
pillow
mutagen
sacad
drf-extensions
django-cors-headers
gunicorn
whitenoise
dj-database-url
